server:
  port: 3000

spring:
  application:
    name: gateway-server
  config:
    import: "optional:configserver:http://13.210.162.214:3100"

eureka:
  instance:
    prefer-ip-address: false
    hostname: localhost

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://13.210.162.214:3150/eureka/


